<div class="card mb-2">
    <div class="card-body pb-0">
        <div class="row">
            <div class="col-6 col-lg-2">
                <h2 class="card-title h5">{% if broker.logo %}<img src="images/{{ broker.logo }}"
                        alt="{{ broker.name }}">{% else %}{{ broker.name }}{% endif %}</h2>
            </div>
            <div class="col-6 col-lg-2">
                {% set firstFund = portfolio.assets|first.fund %}
                {% if firstFund.logo != broker.logo %}
                    <img src="images/{{ firstFund.logo }}" alt="">
                {% endif %}
            </div>
            <div class="col-sm-6 col-lg">
                <div class="card-title h5">{{ portfolio.fundNames.join(' + ') }}</div>
            </div>
            <div class="col-sm-6 col-md-3 text-lg-right">
                <div class="small">Verwacht resultaat</div>
                <div class="h4 mb-2">{{ simulation.netProfit|money|tagDecimals }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="small">Marktkapitalisatie</div>
                <div class="mb-2"><span class="font-weight-bold">{{ portfolio.marketCapPercentage|percentage }}</span>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="small">Small caps</div>
                <div class="font-weight-bold mb-2">{% if portfolio.containsSmallCaps %}ja{% else %}nee{% endif %}</div>
            </div>
            <div class="col-sm-4 col-lg-3">
                <div class="small">Automatisch inleggen</div>
                <div class="mb-2 font-weight-bold">{% if combination.automatedInvesting %}ja{% else %}nee{% endif %}</div>
            </div>
            <div class="col-6 col-sm-4 col-lg text-lg-right">
                <div class="small">Geschatte kosten</div>
                <div class="h5 mb-2">{{ simulation.totalCosts|money|tagDecimals }}</div>
            </div>
            <div class="col-6 col-sm-4 col-lg text-lg-right">
                <div class="small">Verwachte waarde</div>
                <div class="h5 mb-2">{{ simulation.value|money|tagDecimals }}</div>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs mt-2 px-3" role="tablist">
        <li class="nav-item">
            <a class="nav-link" href="#portfolio-{{ index }}">Portefeuille</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#pricing-{{ index }}">Tarieven</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#details-{{ index }}">Details</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade" id="portfolio-{{ index }}" role="tabpanel">
            <div class="card-body">
                {% for asset in portfolio.assets %}
                    <table class="table">
                        <tr>
                            <th colspan="2">{{ asset.fund.name }} ({{ asset.allocation|percentage }})</th>
                        </tr>
                        <tr>
                            <th class="w-25"><abbr title="International Securities Identification Number">ISIN</abbr></th>
                            <td>{{ asset.fund.isin }}</td>
                        </tr>
                        <tr>
                            <th>Index</th>
                            <td>{% if asset.fund.trackedIndex.factsheet %}<a href="{{ asset.fund.trackedIndex.factsheet }}"
                                    target="_blank">{{ asset.fund.trackedIndex.name }}</a>{% else %}{{ asset.fund.trackedIndex.name }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th><abbr title="Environmental, Social & Governance">ESG</abbr>-uitsluitingen</th>
                            <td>{% if asset.fund.esgExclusions.percentage > 0 %}{{ asset.fund.esgExclusions|percentage }} van marktkapitalisatie{% else %}geen{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Aandelen</th>
                            <td>{{ asset.fund.numberOfShares }}</td>
                        </tr>
                        <tr>
                            <th>Instapkosten</th>
                            <td>{{ asset.fund.entryFee|percentage }}</td>
                        </tr>
                        <tr>
                            <th>Lopende kosten</th>
                            <td>{{ asset.fund.totalExpenseRatio|percentage }}</td>
                        </tr>
                        <tr>
                            <th>Dividendlek</th>
                            <td>{{ asset.fund.dividendLeak|percentage }}</td>
                        </tr>
                        <tr>
                            <th>Documenten</th>
                            <td>
                                {% if asset.fund.factsheet %}
                                    <a href="{{ asset.fund.factsheet }}" target="_blank">Factsheet</a>
                                {% endif %}

                                {% if asset.fund.kiid %}
                                    <a href="{{ asset.fund.kiid }}" target="_blank">EBI</a>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="pricing-{{ index }}" role="tabpanel">
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th colspan="2">{{ broker.name }} {{ broker.product }}
                            {% if broker.costOverview %}(<a href="{{ broker.costOverview }}"
                                    target="_blank">bron</a>){% endif %}
                        </th>
                    </tr>
                    {% if broker.baseFee.isGreaterThan(0) %}
                        <tr>
                            <td>Basisfee</td>
                            <td>{{ combination.broker.baseFee|money }} / jaar</td>
                        </tr>
                    {% endif %}
                    {% if broker.serviceFee.tiers|length > 0 %}
                        <tr>
                            <td>Servicekosten</td>
                            <td>
                                {% if broker.minimumServiceFee %}
                                    Minimum: {{ broker.minimumServiceFee|money }}<br>
                                {% endif %}
                                {% for tier in broker.serviceFee.tiers %}
                                    {% if tier.upperLimit %}t/m {{ tier.upperLimit|money }}{% elseif broker.serviceFee.tiers.length > 1 %}daarboven{% endif %}:
                                    {{ tier.percentage|percentage }} / jaar<br>
                                {% endfor %}
                                {% if broker.maximumServiceFee %}
                                    Maximum: {{ broker.maximumServiceFee|money }}<br>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td class="w-25">Transactiekosten</td>
                        <td>
                            Indexfondsen: {{ combination.broker.mutualFundTransactionFee.describe }}<br />
                            ETF's: {{ combination.broker.etfTransactionFee.describe }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="details-{{ index }}" role="tabpanel">
            <div class="card-body">

                <table class="table mb-0">
                    <tr>
                        <th colspan="2">Totale kosten</th>
                    </tr>
                    <tr>
                        <td class="w-25">Fondskosten</td>
                        <td>{{ simulation.totalFundCosts|money }}</td>
                    </tr>
                    <tr>
                        <td>Transactiekosten</td>
                        <td>{{ simulation.totalTransactionFees|money }}</td>
                    </tr>
                    <tr>
                        <td>Servicekosten</td>
                        <td>{{ simulation.totalServiceFees|money }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
