<div class="card mb-3">
    <div class="card-body pb-1">
        <h2 class="card-title h5">
            <img src="images/{{ portfolio.assets|first.fund.logo }}" width="100" height="40" alt=""
                    class="me-4" />{{ portfolio.fundNames.join(' + ') }}</h2>

        <div class="card-text">
            <div class="row">
                <div class="col">
                    <div class="small">Marktkapitalisatie</div>
                    <div class="mb-2 fw-bold">{{ portfolio.marketCapPercentage|percentage(0) }}</div>
                </div>
                <div class="col mb-2 text-end">
                    <div class="small">Fondskosten per jaar</div>
                    <div class="fw-bold">{{ portfolio.yearlyCosts(simulations|first.expectedDividendYield)|percentage(3) }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion accordion-flush border-top" id="portfolio-{{ index }}">
        <div class="accordion-item">
            <h2 class="accordion-header" id="portfolio-{{ index }}-portfolio-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#portfolio-{{ index }}-portfolio" aria-expanded="true"
                        aria-controls="portfolio-{{ index }}-portfolio">
                    Portefeuille
                </button>
            </h2>
            <div id="portfolio-{{ index }}-portfolio" class="accordion-collapse collapse"
                    aria-labelledby="portfolio-{{ index }}"
                    data-bs-parent="#portfolio-{{ index }}">
                <div class="accordion-body">
                    {% for asset in portfolio.assets %}
                        <table class="table">
                            <tr>
                                <th colspan="2">{{ asset.fund.name|tagAbbreviations }}
                                    ({{ asset.allocation|percentage }})
                                </th>
                            </tr>
                            <tr>
                                <th class="w-25"><abbr
                                            title="International Securities Identification Number">ISIN</abbr></th>
                                <td>{{ asset.fund.isin }}</td>
                            </tr>
                            <tr>
                                <th>Index</th>
                                <td>{% if asset.fund.trackedIndex.factsheet %}<a
                                        href="{{ asset.fund.trackedIndex.factsheet }}"
                                        target="_blank">{{ asset.fund.trackedIndex.name|tagAbbreviations }}</a>{% else %}{{ asset.fund.trackedIndex.name|tagAbbreviations }}{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th><abbr title="Environmental, Social & Governance">ESG</abbr>-uitsluitingen</th>
                                <td>{% if asset.fund.esgExclusions.percentage > 0 %}{{ asset.fund.esgExclusions|percentage }} van de marktkapitalisatie van de index{% else %}geen{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Lopende kosten</th>
                                <td>{{ asset.fund.totalExpenseRatio|percentage }}</td>
                            </tr>
                            <tr>
                                <th>Interne transactiekosten</th>
                                <td>{{ asset.fund.internalTransactionCosts|percentage(3) }}</td>
                            </tr>
                            <tr>
                                <th>Dividendlek</th>
                                <td>{{ asset.fund.dividendLeak|percentage }}</td>
                            </tr>
                            <tr>
                                <th>Documenten</th>
                                <td>
                                    {% if asset.fund.factsheet %}
                                        <a href="{{ asset.fund.factsheet }}" target="_blank">Factsheet</a>
                                    {% endif %}

                                    {% if asset.fund.kiid %}
                                        <a href="{{ asset.fund.kiid }}" target="_blank"><abbr
                                                    title="Essentiële beleggersinformatie">EBI</abbr></a>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <ul class="list-group list-group-flush">
        {% for key, simulation in simulations %}
            {% set broker = simulation.broker %}
            <li class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-sm mb-2 mb-md-0">
                        <div class="float-start float-sm-none float-md-start"><img src="images/{{ broker.logo }}" width="80" height="32"
                                    alt="{{ broker.name }}" class="me-3" /></div>

                        <div>
                            {% if broker.product %}<span class="">{{ broker.product }}<br /></span>{% endif %}
                            <a class="small" href="#p{{ index }}{{ key }}" data-bs-toggle="collapse">details</a>
                        </div>
                    </div>

                    <div class="col-6 col-sm-3 col-md-2 text-end d-none d-md-block">
                        <div class="small">Geschatte kosten</div>
                        <div>{{ simulation.totalCosts|money|tagDecimals }}</div>
                    </div>

                    <div class="col-6 col-sm-4 col-md-2 text-md-end">
                        <div class="small">Verwacht resultaat</div>
                        <div>{{ simulation.netProfit|money|tagDecimals }}</div>
                    </div>

                    <div class="col-6 col-sm-4 col-md-3 text-end align-middle">
                        {% if broker.affiliateLink %}
                            <a class="btn btn-sm btn-primary" href="{{ broker.affiliateLink }}" target="_blank">Open een
                                rekening</a>
                        {% elseif broker.website %}
                            <a class="btn btn-sm btn-link text-muted" href="{{ broker.website }}" target="_blank">Bezoek
                                de website</a>
                        {% endif %}
                    </div>
                </div>

                <div class="collapse" id="p{{ index }}{{ key }}">
                    <div class="row">
                        <div class="col-md">
                            <div class="card my-2">
                                <div class="card-body">
                                    <table class="table small mb-0">
                                        {% if broker.costOverview %}
                                            <caption class="mb-0">(<a href="{{ broker.costOverview }}" target="_blank">bron</a>)
                                            </caption>{% endif %}
                                        <tbody class="border-top-0">

                                            <tr>
                                                <th colspan="2">Tarieven</th>
                                            </tr>
                                            {% if broker.serviceFee.extendedDescription is not empty %}
                                                <tr>
                                                    <td>Servicekosten
                                                        per {{ broker.serviceFeeFrequency == 'monthly' ? 'maand' : 'kwartaal' }}</td>
                                                    <td>{{ broker.serviceFee.extendedDescription|join('<br/>') }}</td>
                                                </tr>
                                            {% endif %}
                                            <tr>
                                                <td class="w-50">Transactiekosten</td>
                                                <td>
                                                    Indexfondsen: {{ broker.mutualFundTransactionFee.describe }}<br />
                                                    ETF's: {{ broker.etfTransactionFee.describe }}
                                                </td>
                                            </tr>
                                            {% if broker.dividendDistributionFee.describe != 'geen' %}
                                                <tr>
                                                    <td>Kosten dividenduitkering</td>
                                                    <td>
                                                        {{ broker.dividendDistributionFee.describe }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="card my-2">
                                <div class="card-body">
                                    <table class="table small mb-0">
                                        <tr>
                                            <th colspan="2">Kosten</th>
                                        </tr>
                                        <tr>
                                            <td class="w-50">Lopende fondskosten</td>
                                            <td class="text-end">{{ simulation.portfolio.totalRunningCosts|money }}</td>
                                        </tr>
                                        <tr>
                                            <td>Dividendlekkage</td>
                                            <td class="text-end">{{ simulation.portfolio.totalDividendLeakage|money }}</td>
                                        </tr>
                                        <tr>
                                            <td>Transactiekosten</td>
                                            <td class="text-end">{{ simulation.totalTransactionFees|money }}</td>
                                        </tr>
                                        <tr>
                                            <td>Servicekosten</td>
                                            <td class="text-end">{{ simulation.totalServiceFees|money }}</td>
                                        </tr>
                                        <tr>
                                            <td>Kosten dividenduitkering</td>
                                            <td class="text-end">{{ simulation.totalDividendDistributionFees|money }}</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Totale kosten</td>
                                            <td class="fw-bold text-end">{{ simulation.totalCosts|money }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </li>
        {% endfor %}
    </ul>
</div>
